:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
  --background: url(./assets/céu-estrelado.jpg);
}

/*Day mode*/

.light {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #fcb03e;
  --background: url(./assets/ceu-ensolarado.jpg);
}
.light #container button {
  left: 140px;
}

body {
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
}
/*Night mode*/

#container {
  width: 500px;
  height: 350px;
  background: var(--label);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
  border-radius: 50px;
  position: relative;
}

#container span {
  width: 235px;
  height: 102px;
  margin: 0 auto;
  border: 3px solid var(--light);
  border-radius: 50px;
  display: block;
  z-index: 1;
}

#container span img {
  width: 84px;
  margin-top: 6px;
}

#container span .img1 {
  margin-right: 55px;
}

.light:hover {
  transition: all 0.5s;
}

#container button {
  display: block;
  position: absolute;
  width: 86.31px;
  height: 86.31px;
  border-radius: 100px;
  border: 3px solid var(--light);
  z-index: 1;
  left: 270px;
}
